html, body {
    width: 100px;
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .beast:hover {
    background-color: #cff2f2;
  }
  
  .beast {
    background-color: #006fe5;
  }
  
  .reset {
    background-color: #cbcb2f;
  }
  
  .reset:hover {
    background-color: #d05d0d;
  }